CONFIG_WLAN_HERO=y
# CONFIG_WLAN_HERO2 is not set
# CONFIG_FB_DSU_REG_LOCK is not set
# CONFIG_EXYNOS_DECON_LCD_MCD is not set
CONFIG_LCD_ESD_IDLE_MODE=y
# CONFIG_PANEL_S6E3HF4_WQHD is not set
CONFIG_PANEL_S6E3HA3_DYNAMIC=y
# CONFIG_PANEL_DUALIZATION is not set
CONFIG_SENSORS_SX9310_NORMAL_TOUCH_THRESHOLD=176
# CONFIG_SENSORS_HERO2 is not set
CONFIG_IP_NF_MATCH_RPFILTER=y
CONFIG_IP6_NF_MATCH_RPFILTER=y

#
# ARM GPU Configuration
#
CONFIG_MALI_R12P0=y
# CONFIG_MALI_R15P0 is not set
# CONFIG_MALI_DMA_FENCE is not set
# CONFIG_MALI_PRFCNT_SET_SECONDARY is not set
# CONFIG_MALI_MIDGARD is not set
# CONFIG_MALI_GATOR_SUPPORT is not set
# CONFIG_MALI_MIDGARD_DVFS is not set
# CONFIG_MALI_CORESTACK is not set
# CONFIG_MALI_FENCE_DEBUG is not set
# CONFIG_MALI_GPU_MMU_AARCH64 is not set
# CONFIG_MALI_SEC_CL_BOOST is not set
# CONFIG_MALI_SEC_UTILIZATION is not set
# CONFIG_MALI_PM_QOS is not set
# CONFIG_MALI_BTS_OPTIMIZATION is not set
# CONFIG_MALI_DEBUG_KERNEL_SYSFS is not set
# CONFIG_MALI_EXYNOS_SECURE_RENDERING is not set
# CONFIG_MALI_SEC_ASP_SECURE_BUF_CTRL is not set
